* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.sticky-box {
    position: sticky;
    top: 20px;
}

.card-style {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
