<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageMapper">

	<select id="selectMyProfile" parameterType="Int" resultType="MyProfileRes">
		  SELECT
		    MEMBER_ID AS memberId,
		    MEMBER_NAME AS memberName,
		    MEMBER_BIRTH_DATE AS memberBirthDate,
		    MEMBER_GENDER AS memberGender,
		    MEMBER_PHONE AS memberPhone,
		    MEMBER_CREATE_AT AS memberCreateAt,
		    MEMBER_LAST_LOGIN_AT AS memberLastLoginAt
		    FROM TB_MEMBER
		   WHERE MEMBER_NO = #{memberNo}
		     AND MEMBER_IS_ACTIVE = 'Y'
	</select>
	
	<update id="updateMyProfile">
	  UPDATE TB_MEMBER
	  SET
	    MEMBER_NAME = #{req.memberName},
	    MEMBER_BIRTH_DATE = #{req.memberBirthDate},
	    MEMBER_GENDER = #{req.memberGender},
	    MEMBER_PHONE = #{req.memberPhone}
	     WHERE MEMBER_NO = #{memberNo}
	       AND MEMBER_IS_ACTIVE = 'Y'
	</update>
	
	<select id="selectPassword" parameterType="int" resultType="String">
	  SELECT MEMBER_PASSWORD
	    FROM TB_MEMBER
	   WHERE MEMBER_NO = #{memberNo}
	     AND MEMBER_IS_ACTIVE = 'Y'
	</select>
	
	<update id="updatePassword">
	  UPDATE TB_MEMBER
	     SET MEMBER_PASSWORD = #{password}
	   WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<update id="withdrawMember">
	  UPDATE TB_MEMBER
	  SET
	    MEMBER_IS_ACTIVE = 'N',
	    MEMBER_WITHDRAWN_AT = SYSDATE
	  WHERE MEMBER_NO = #{memberNo}
	    AND MEMBER_IS_ACTIVE = 'Y'
	</update>
	
	<select id="fetchSearchHistory" parameterType="int" resultType="SearchHistoryDto">
		SELECT
			SEARCH_LOG_NO AS searchLogNo,
		    DEPART_IATA_CODE AS departIata,
		    ARRIVE_IATA_CODE AS arriveIata,
		    SEARCH_LOG_DEPART_DATE AS departDate,
		    SEARCH_LOG_RETURN_DATE AS returnDate,
		    SEARCH_LOG_PASSENGER_COUNT AS passengerCount,
		    SEARCH_LOG_DATE AS searchLogDate,
		    MEMBER_NO AS memberNo
		  FROM TB_SEARCH_LOG    
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY SEARCH_LOG_DATE DESC
	</select>
	
	
</mapper>