/* 배경색 */
.wrap {
    background-color: #F5FAFF;
    display : flex;

}

.statistics-title {
    font-size: 28px;
    font-weight: 700;
    color: #1a237e; /* 진한 파란색 */
    margin : 50px 0px 40px 340px;
    border-bottom: 3px solid #e0e0e0;
    padding-bottom: 10px;
}

.statistics-content {
    margin :50px 50px 0px 0px ;
}

.statistics-area { 
    display : flex;
    justify-content: center;
    margin-left : 330px;
    
}
.statistics-box {
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding : 10px;
    margin : 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
