/* 배경색 */
.wrap {
    background-color: #F5FAFF;
    display : flex;

}

.statistics-content {
    margin :50px 50px 0px 0px ;
}

.statistics-area { 
    display : flex;
    justify-content: center;
    margin-left : 330px;
    
}
.statistics-box {
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding : 10px;
    margin : 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
