<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="emailAuthMapper">

    <!-- 인증번호 저장 -->
    <insert id="insertAuth" parameterType="EmailAuth">
        INSERT INTO TB_AUTH (
            AUTH_EMAIL,
            AUTH_CODE,
            AUTH_DATE
        ) VALUES (
            #{authEmail},
            #{authCode},
            SYSDATE
        )
    </insert>

    <!-- 인증번호 검증 -->
    <select id="countValidAuth" resultType="int">
        SELECT COUNT(*)
        FROM TB_AUTH
        WHERE AUTH_EMAIL = #{authEmail}
          AND AUTH_CODE = #{authCode}
          AND AUTH_DATE >= SYSDATE - (#{expireMinutes} / 1440)
    </select>

    <!-- 인증정보 삭제 -->
    <delete id="deleteAuth">
        DELETE FROM TB_AUTH
        WHERE AUTH_EMAIL = #{authEmail}
    </delete>
    
    <!-- 인증 완료 처리 -->
	<update id="markVerified" parameterType="map">
	    UPDATE TB_AUTH
	    SET AUTH_VERIFIED = 'Y'
	    WHERE AUTH_EMAIL = #{authEmail}
	</update>

</mapper>