/* 사이드바 전체 */
.admin-sidebar {
  position: fixed;
  top: 60px;               /* AdminHeader 높이 */
  left: 0;
  height: calc(100vh - 60px);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;

  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e2e8f0; /* 우측 구분선 */
  padding: 20px 0px 20px 20px;
  box-sizing: border-box;
  
}

.admin-sidebar.open {
  transform: translateX(0);
}

/* 닫기 버튼 */
.close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  margin-left: 180px;
  cursor: pointer;
}

/* 로고 */
.admin-logo {
  font-size: 24px;
  font-weight: bold;
  color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin : 0px 30px 0px 0px; 
  font-family: 'Verdana', sans-serif;
}

.admin-logo > img {
  width : 200px;
}

.admin-sidebar table {
  width: 100%;
  border-spacing: 0 10px; /* 줄 간격 띄우기 (border-collapse 끄고 사용) */
}

.admin-sidebar td {
  padding: 14px 20px 14px 20px;
  color: #64748b;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px 0px 0px 12px;
  transition: all 0.3s;
}

/* 마우스 올렸을 때 */
.admin-sidebar tr:hover td {
  background-color: #e0f2fe; /* 아주 연한 하늘색 */
  color: #0284c7; /* 진한 파란색 글자 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* 살짝 그림자 */
}