.mypage-sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;

  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e2e8f0;
  padding: 20px 0px 20px 20px;
  box-sizing: border-box;
}

.mypage-sidebar.open {
  transform: translateX(0);
}

.mypage-close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  margin-left: 180px;
  cursor: pointer;
}

.mypage-logo {
  display: flex;
  justify-content: center;
  margin: 0px 30px 0px 0px;
  cursor: pointer;
}

.mypage-logo > img {
  width: 200px;
}

.mypage-sidebar table {
  width: 100%;
  border-spacing: 0 10px;
}

.mypage-sidebar td {
  padding: 14px 20px 14px 20px;
  color: #64748b;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px 0px 0px 12px;
  transition: all 0.3s;
}

.mypage-sidebar tr:hover td {
  background-color: #e0f2fe;
  color: #0284c7;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
