<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminFlightOfferMapper">

	<insert id="InsertFlightOffer"
	        parameterType="com.kh.triptype.admin.flight.model.dto.FlightOfferInsertDto">
	
	    <selectKey keyProperty="offerId"
	               resultType="int"
	               order="BEFORE">
	        SELECT TB_FLIGHT_OFFER_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	
	    INSERT INTO TB_FLIGHT_OFFER (
	        FLIGHT_OFFER_ID,
	        FLIGHT_OFFER_ONE_WAY,
	        FLIGHT_OFFER_DEPART_DATE,
	        FLIGHT_OFFER_RETURN_DATE,
	        FLIGHT_OFFER_DEP_DUR_TOTAL,
			FLIGHT_OFFER_RET_DUR_TOTAL,
	        FLIGHT_OFFER_EXTRA_SEAT,
	        FLIGHT_OFFER_IS_DEL,
	        AIRLINE_ID
	    )
	    VALUES (
	        #{offerId},
	        #{oneWay},
	        #{departDate},
	        #{returnDate},
	        #{departDurationTotal},
	        #{returnDurationTotal},
	        #{extraSeat},
	        #{isDel},
	        #{airlineId}
	    )
	</insert>
	<update id="updateFlightOfferIsDel" parameterType="list">
	    UPDATE TB_FLIGHT_OFFER
	    SET FLIGHT_OFFER_IS_DEL = 'Y'
	    WHERE FLIGHT_OFFER_ID IN
	    <foreach collection="list" item="id" open="(" close=")" separator=",">
	        #{id}
	    </foreach>
	</update>
	
	



</mapper>