<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminFlightHistoryMapper">

     <insert id="InsertFlightHistory"
            parameterType="com.kh.triptype.admin.flight.model.dto.FlightHistoryInsertDto">

        INSERT INTO TB_FLIGHT_PRICE_HISTORY (
            FLIGHT_PRICE_HISTORY_NO,
            FLIGHT_OFFER_ID,
            FLIGHT_OFFER_PRICE_TOTAL,
            FLIGHT_OFFER_CURRENCY,
            FLIGHT_OFFER_ONE_WAY,
            FLIGHT_OFFER_DEPART_DATE,
            FLIGHT_OFFER_RETURN_DATE,
            FLIGHT_OFFER_API_QUERY_DATE,
            DEPART_IATA_CODE,
            ARRIVE_IATA_CODE,
            AIRLINE_ID
        )
        VALUES (
            TB_FLIGHT_PRICE_HISTORY_SEQ.NEXTVAL,
            #{offerId},
            #{priceTotal},
            #{currency},
            #{oneWay},
            #{departDate},
            #{returnDate},
            #{apiQueryDate},
            #{departAirport},
            #{arriveAirport},
            #{airlineId}
        )

    </insert>
    
    <update id="updateFlightHistoryIsDelByOfferId" parameterType="list">
	    UPDATE TB_FLIGHT_HISTORY
	    SET FLIGHT_HISTORY_IS_DEL = 'Y'
	    WHERE FLIGHT_OFFER_ID IN
	    <foreach collection="list" item="id" open="(" close=")" separator=",">
	        #{id}
	    </foreach>
	</update>



</mapper>
